<h2>Chat</h2>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div *ngFor="let chat of _cs.chats" [ngClass]="{ 'text-end': _cs.usuario.uid == chat.uid }">
        <span class="badge" [ngClass]="{ 'bg-primary': _cs.usuario.uid == chat.uid, 'bg-success': _cs.usuario.uid != chat.uid }">
            {{ chat.nombre }}
        </span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>

</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje">