<div class="row">
    <div class="col-md-12 text-center">
        <p>
            Ingrese al chat con su cuenta favorita
        </p>

        <button type="button" class="btn btn-outline-danger m-3" (click)="ingresar('google')">
            Google
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-outline-info m-3" (click)="ingresar('twitter')">
            Twitter
            <i class="fab fa-twitter"></i>
        </button>
    </div>
</div>